<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
      <input type="text" class="login-field"  placeholder="Username" id="login-name" [(ngModel)]="username">
      <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
      <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" [(ngModel)]="password">
      <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <button class="btn btn-primary btn-large btn-block" (click)="onSubmit()">login</button>
    </div>
  </div>
</div>